/* VARIABLES */
:root {
    --primary-color: #C5A059; /* Dorado para detalles y botones */
    --bg-dark: #121212;       /* Negro para el fondo principal */
    --text-light: #FFFFFF;    /* Blanco para textos principales */
    --text-muted: #a7a7a7;    /* Gris para textos secundarios */

    --font-title: 'Playfair Display';      /* Tipografia titulos */
    --font-body: 'Poppins';  /*Tipografia para el contenido */
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: var(--font-body);
    line-height: 1.6;
}

/* Añade esto a tus estilos generales */
ul {
    list-style: none; /* Quita los puntos negros de todas las listas */
}

a {
    text-decoration: none; /* Quita el subrayado de todos los enlaces */
    color: inherit;        /* Hace que el enlace use el color de su contenedor */
}

.nav__link {
    /* Aseguramos que el enlace se vea blanco y limpio */
    color: var(--text-light);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--primary-color); /* El dorado al pasar el ratón */
}

/* Clase de utilidad para centrar el contenido en la pantalla */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER & NAV */
.header {
    width: 100%;
    background-color: var(--bg-dark);
    position: fixed; /* Se queda arriba siempre al hacer scroll */
    top: 0;
    left: 0;
    z-index: 100; /* Para que este siempre por encima de lo demá */
    border-bottom: 1px solid rgb(255, 255, 255, 0.05);
}

.nav {
    height: 80px; /* Altura fija para el menú */
    display: flex;
    justify-content: space-between; /* Logo a un lado, hamburguesa al otro */
    align-items: center;
}

.nav__logo {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.nav__logo span {
    color: var(--primary-color);
}

/* MENÚ HAMBURGUESA */
.nav__toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav__toggle-bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text-light);
    transition: 0.3s;
}

.nav__menu {
    display: none; /* Oculto por defecto */
}

/* HERO SECTION */
.hero {
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?auto=format&fit=crop&q=80&w=2070') no-repeat center center/cover;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center;
}

.hero__container {
    width: 100%;
}

.hero__subtitle {
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.hero__title {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.hero__description {
    margin-bottom: 2.5rem;
    color: var(--text-muted);
}

/* Botón reutilizable */
.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--bg-dark);
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 4px;
}

.button:hover {
    background-color: #b38f4d;
    transform: translateY(-3px);
}

/* ESTILOS REUTILIZABLES */
.section {
    padding: 5rem 0 2rem;
}

.section__title {
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* ABOUT */
.about__container {
    display: grid;
    gap: 2.5rem;
}

.about__description {
    margin-bottom: 1.5rem;
    color: var(--text-muted);
}

.about__img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* ESTILOS PARA EL MOVIL PARA CUANDO ESTE DESPLEGADO */
@media (max-width: 768px) {
    .nav__menu {
        display: block; /* Lo volvemos a mostrar*/ 
        position: fixed;
        top: 80px; /* Justo debajo del header */
        left: -100%;/* Lo sacamos de la pantalla por la izquierda */
        background-color: var(--bg-dark);
        width: 100%;
        height: 100vh;
        padding: 40px;
        transition: all 0.5s ease; /* Animación suave */
        list-style: none;
    }

    .nav__item {
        margin-bottom: 2rem;
    }

    .nav__link {
        color: var(--text-light);
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    /* Cuando el checkbox esté marcado, el menú entra en la pantalla */
    .nav__check:checked ~ .header .nav__menu {
        left: 0;
    }
}

/* DESKTOP STYLE */
@media (min-width: 769px) {
    /* Escondemos el botón de 3 rayitas porque en PC no se usa */
    .nav__toggle {
        display: none;
    }

    /* Mostramos el menú y lo ponemos en horizontal */
    .nav__menu {
        display: flex; 
        gap: 2rem;
        position: static; /* Quita el fixed del móvil */
        width: auto;
        height: auto;
        background: none;
        padding: 0;
    }

    .nav__item {
        margin-bottom: 0;
    }

    .nav__link {
        font-size: 1rem;
        transition: color 0.3s;
    }

    .nav__link:hover {
        color: var(--primary-color); /* El toque dorado al pasar el ratón */
    }
}

/* DESKTOP ABOUT */
@media (min-width: 769px) {
    .about__container {
        grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas iguales */
        align-items: center;
    }

    .section__title {
        text-align: left; /* Título a la izquierda en PC */
    }
}